* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.modelContainer {
  text-align: center;
}
.modelBtn {
  margin: 50px auto !important;
  text-align: center !important;
  background-color: rgb(158, 214, 247) !important;
}
.connectBtns {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.connectBtns button {
  width: 100% !important;
  background-color: rgb(158, 214, 247) !important;
  margin: 10px auto !important;
}
.addrs{
  text-align: center;
  /* border: 1px solid rgb(141, 141, 141); */
  box-shadow: 0px 0px 2px rgb(142, 142, 143);
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 0px auto;
}
